{% trans_default_domain "ApoutchikaMediaBundle" %}
<div class="medias">
</div>
<a href="{{ urlAdd }}" class="btn btn-strong btn-add">{{ 'views.mustache.fields.add'|trans }}</a>
<a href="{{ urlList }}" class="btn btn-strong btn-select">{{ 'views.mustache.fields.select'|trans }}</a>
