<div class="modal-bg"></div>
<div class="modal">
    <div class="modal-title">
        <a href="#" class="icon icon-close close"></a>
        <h1 class="ellipsis">{% block title %}{% endblock %}</h1>
    </div>
    <div class="modal-content">
        {% block content %}{% endblock %}
    </div>
</div>
