
$white: #ffffff;

// Color name see on name-of-color.com
$doveGray: #707070; // #6d6d6d;
$burntSienna: #f27a5a; // #e97451;
$flamingo: #ef5931; // #f2552a;
$arsenic: #3a4a4a; // #3b444b;
$stack: #908f8f; // #8a8f8a;
$stack2: #8f8f8f; // #8a8f8a;
$gainsboro: #dddddd; // #dcdcdc;
$cararra: #ececec; // #eeeee8;
$davySGrey: #565757; // #555555;
$pumice: #c8c7c7; // #c2cAc4;
$masala: #3a3a3a; // #403b38;
$mercury: #e4e4e4; // #e5e5e5;
$silverChalice: #afafaf; // #acacac;
$vistaBlue: #8bddb5; // #8fd6b4;
$monaLisa: #f6a691; // #ffa194;

// Loader
$blueWhale: #002b48; // #042e4c;
$greenCrayola: #25bf76; // #1cac78;

$btn-padding: 4px;
$btn-width: 110px;
$btn-height: 34px;

$select-width: 200px;

$media-height: 50px;
